<div id='test-component2'>
  <%= react_component 'TodoList',
                      { todos: @todos },
                      { prerender: true,
                        store_init_js: "ReactStores.barStore.updateWith(#{{a: 123}.to_json});".html_safe }
                      %>
</div>
