<div id='test-component2'>
  <%= react_component component_name: 'TodoList',
                      props: { todos: @todos },
                      options: { prerender: true },
                      store_update_calls: "ReactStores.barStore.updateWith(#{{a: 123}.to_json});".html_safe %>
</div>
