<div id='test-component'>
  <%= react_component 'TodoList',
                      { todos: @todos },
                      { store_init_js: "ReactStores.fooStore.updateWith(#{{a: 123}.to_json});".html_safe } %>
</div>
<% if params[:ajax] %>
  <div id='theUrlDiv'><%= params[:ajax] %></div>
<% end %>
