<div id='test-component2'>
  <%= react_component_with_stores component_name: 'TodoList',
                                  props: { todos: @todos },
                                  storeUpdateCalls: "ReactStores.barStore.updateWith(#{{a: 123}.to_json});" %>
</div>
